!!!
head
  script(src='/assets/js/jquery-1.8.3.min.js')
  script(src='/assets/js/handlebars.js')
  script(src='/assets/js/ember.js')
  script(src='/socket.io/socket.io.js')
  script(src='/assets/js/chat.js')
  link(rel='stylesheet', href='/assets/css/style.css', media='screen', type='type/css')

body

  script(type="text/x-handlebars", data-template-name="application")
    {{render userInfo }}
    {{render userList }}
    {{render messages }}

  script(type="text/x-handlebars", data-template-name="userList")
    ul.
      {{#each controller}}
      <li>{{ user.name }}<li>
      {{/each}}

  script(type="text/x-handlebars", data-template-name="userInfo")
    | {{#view App.UserInfoView}}
    |   {{#if user}}
    |     User Info
    |       {{#if isEditing}}
    |       {{view Em.TextField action='register'
    |                           valueBinding='user.name'
    |                           placeholder='Nombre'}}
    |       <a href='#' {{action 'cancel'}}>Cancelar</a>
    |       {{else}}
    |       <label>
    |         Recibir Notificaciones
    |         {{view App.UserInfoView.Notifications checkedBinding='notifications' }}
    |       </label>
    |       <p>{{ user.name }} <span><a href='#' {{action 'edit'}}>Cambiar</a></span></p>
    |       {{/if}}
    |   {{else}}
    |     {{view Em.TextField action='register' placeholder='Nombre'}}
    |     <button {{action "register"}}>Entrar</button>
    |   {{/if}}
    | {{/view}}

  script(type="text/x-handlebars", data-template-name="messages")
    {{#each controller}}
    <p>{{sender}}-{{body}}</p>
    {{/each}}
    {{view Em.TextField action='sendMessage' placeholder='Tu Mensaje' valueBinding='message'}}

  //-script(type="text/x-handlebars", data-template-name="index")
    //-p Loading...

  //-script(type="text/x-handlebars", data-template-name="registration")
    //-h1 Registro
    //-hr
    //-h2 Agente de cambio
    //-{{view Em.TextField valueBinding='nickname' action='register' placeholder='Nombre'}}
    //-{{#if this.invalid}}
    //-invalido
    //-{{/if}}
    //-| <button {{action "register"}}>Entrar</button>


  //-script(type="text/x-handlebars", data-template-name="main")
    //-h1. Users
    //-h2. MEssages
    //-{{ content }}
    //-{{ nickname }}
