!!!
head
  script(src='/assets/js/jquery-1.8.3.min.js')
  script(src='/assets/js/handlebars.js')
  script(src='/assets/js/ember.js')
  script(src='/socket.io/socket.io.js')
  script(src='http://arshaw.com/xdate/downloads/0.7/xdate.js')
  script(src='/assets/js/chat.js')
  link(rel='stylesheet', href='/assets/css/style.css', media='screen', type='type/css')

body

  script(type="text/x-handlebars", data-template-name="application")
    {{render userInfo }}
    {{render userList }}
    {{render messages }}

  script(type="text/x-handlebars", data-template-name="userList")
    ul.
      {{#each user in controller}}
      <li {{ bindAttr class='status' }}>{{ name }}</li>
      {{/each}}

  script(type="text/x-handlebars", data-template-name="userInfo")
    {{#view App.UserInfoView}}
    h3 User Info
    label.
      Recibir Notificaciones
      {{view App.UserInfoView.Notifications checkedBinding='notifications' }}
    {{#if isEditing}}
    p.
    | {{view Em.TextField action='register'
    |                    valueBinding='user.name'
    |                    placeholder='Nombre'}}
    <a href='#' {{action 'cancel'}}>Cancelar</a>
    {{else}}
    p.
      {{ user.name }} <span><a href='#' {{action 'edit'}}>Cambiar</a></span></p>
    {{/if}}
    {{/view}}

  script(type="text/x-handlebars", data-template-name="messages")
    {{#each controller}}
    <p>{{ formattedTime }} {{sender}}-{{body}}</p>
    {{/each}}
    {{view Em.TextField action='sendMessage' placeholder='Tu Mensaje' valueBinding='message'}}
